<div class="container">
    <!-- Hero Section -->
    <div class="jumbotron text-center bg-primary text-white">
      <h1 class="display-4">Welcome to Foodie Express</h1>
      <p class="lead">Get your favorite meals delivered quickly and easily, anytime and anywhere.</p>
    </div>
  
    <!-- About Section -->
    <div id="about" class="row">
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>At Foodie Express, we strive to bring your favorite meals right to your door. Whether you're craving pizza, burgers, sushi, or any other dish, we've got you covered! We partner with the best restaurants in your area to ensure high-quality food and fast delivery. Our goal is to make sure you can enjoy great food without leaving the comfort of your home.</p>
      </div>
      <div class="col-md-6">
        <img src="https://th.bing.com/th/id/OIP.pH3ovikNLJxlC0_wRqqvQAHaE7?rs=1&pid=ImgDetMain">
      </div>
    </div>
  
    <!-- How It Works Section -->
    <div class="row my-5">
      <div class="col-md-4 text-center">
        <i class="fas fa-search fa-3x"></i>
        <h4>Browse Menu</h4>
        <p>Choose from a wide variety of meals available on our platform.</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-truck fa-3x"></i>
        <h4>Place Your Order</h4>
        <p>Once you've decided, simply place your order with a few clicks.</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-home fa-3x"></i>
        <h4>Enjoy at Home</h4>
        <p>Your food will be delivered to your doorstep quickly and safely.</p>
      </div>
    </div>
  
    <!-- Contact Section -->
    <div class="text-center my-5">
      <h3>Get in Touch</h3>
      <p>If you have any questions, feel free to reach out to us. We're here to help!</p>
      <a href="mailto:support@foodieexpress.com" class="btn btn-danger btn-lg">Contact Support</a>
    </div>
  </div>
  
